body {
	background-image:url('https://th.bing.com/th/id/R.c75da36273bf86aefd32ccb886f00e82?rik=PBuLbeFWzl6mkg&pid=ImgRaw&r=0');
	background-color: rgb(255, 255, 255);

	}


h1 {

	color: #ff0000;

	}


h2 {

	font-variant: small-caps;

	color: #145369;

	}


strong {

	background-color: #49be25;
	}
