body {
	background-image:url('https://th.bing.com/th/id/R.a9f2536f3f7f861c88adfd8cefb11797?rik=JmYRH2scqk%2foLg&pid=ImgRaw&r=0');
	background-repeat: no-repeat;
	background-size: 1300px 600px;

	}


h1 {

	color: #ff0000;

	}


h2 {

	font-variant: small-caps;

	color: #145369;

	}


