body {
	background-image:url('https://images.wallpapersden.com/image/download/kame-house-dragon-ball-z_a2llbmaUmZqaraWkpJRnamtlrWZtZWU.jpg');
	background-repeat: no-repeat;
	background-size: 1300px 600px;

	}


h1 {

	color: #ff0000;

	}


h2 {

	font-variant: small-caps;

	color: #ff0000;

	}


strong {

	background-color: #49be25;
	}